
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-primary: #770026;
  --color-primary-dark: #5a001d;
  --color-primary-light: #94103a;
}

@layer base {
  body {
    @apply font-sans text-gray-800 bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}


.bg-overlay-black-60 {
  position: relative;
}

.bg-overlay-black-60::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Title effect Start */
/* Wrapper */
.section-title {
  margin-bottom: 40px;
  position: relative;
}

/* Title */
.title-effect {
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: color 0.4s ease;
}

/* Highlight background */
.title-effect::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #770026;
  opacity: 0.2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: -1;
}

/* Hover effect (parent section pe hover) */
section:hover .title-effect::before {
  transform: scaleX(1);
}

/* Optional color change */
section:hover .title-effect {
  color: #770026;
}

/* Dark mode support */
.dark .title-effect::before {
  background: #ffffff;
}

.dark section:hover .title-effect {
  color: #ffffff;
}
/* Title effect End */

/* Section title subheading */
.section-title h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}